body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #8c919b, #69adcc);
    font-family: Arial, sans-serif;
}

.buttons-container {
    text-align: center;
}
.icons-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
}


.menu-item {
    margin: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid #333; 
    padding: 10px; 
    box-shadow: 0 4px 8px; 
}

.menu-item:hover {
    font-size: 24px;
    border-color: #0099ff; 
    transform: scale(1.1); 
}

.primer-ano {
    color: rgb(148, 1, 148);
}

.segundo-ano {
    color: green;
}

.consultas-administrativas {
    color: red;
}

.novedades{
    color: rgb(45, 1, 148);
}