body {
    background: linear-gradient(to bottom, #dad4d4, #807575);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.error-message {
    display: none; 
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}